<%= render 'admin/common/header' %>
<section>
  <%= render 'admin/common/leftpanel' %>

  <div class="mainpanel">
    <div class="contentpanel">

      <ol class="breadcrumb breadcrumb-quirk">
        <li><i class="fa fa-home mr5"></i> Home</li>
        <li class="active">關於我們</li>
      </ol>

      <%= bootstrap_form_for [:admin, @page] do |e| %>
        <%= e.text_field :page_cn, class: 'redactor form-control', :placeholder => "Place content Here!", id: "redactor"%>
        <%= e.text_field :page_en, class: 'redactor form-control', :placeholder => "Place content Here!", id: "redactor"%>
        <%= e.submit '送出' %>
      <% end %>
      <!-- content goes here... -->
    </div><!-- contentpanel -->
  </div><!-- mainpanel -->
</section>