<%= render 'admin/common/header' %>
<section>
  <%= render 'admin/common/leftpanel' %>
  <div class="mainpanel">
    <div class="contentpanel">
      <%= bootstrap_form_for [:admin, @page] do |e| %>
        <%= e.text_field :page_cn, label: '中文版' %>
        <%= e.text_field :page_en, label: '英文版' %>
        <%= e.submit '送出' %>
      <% end %>
      <!-- content goes here... -->
    </div><!-- contentpanel -->
  </div><!-- mainpanel -->
</section>