<section class="slider-section">
	<div class="tp-banner-container">
		<div class="tp-banner">
			<ul>
				<li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="/assets/slider_05.jpg"  data-saveperformance="off"  data-title="Slide">
					<img src="/assets/slider_05.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                      <div class="tp-caption slider_layer_01 text-center lft tp-resizeme"
                          data-x="center"
                          data-y="380" 
                          data-speed="1000"
                          data-start="600"
                          data-easing="Power3.easeInOut"
                          data-splitin="none"
                          data-splitout="none"
                          data-elementdelay="0.1"
                          data-endelementdelay="0.1"
                          data-endspeed="1000"
                          style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">HONG TONG OFFERS YOU
                      </div>
                      <div class="tp-caption text-center lft tp-resizeme"
                          data-x="center"
                          data-y="446" 
                          data-speed="1000"
                          data-start="700"
                          data-easing="Power3.easeInOut"
                          data-splitin="none"
                          data-splitout="none"
                          data-elementdelay="0.1"
                          data-endelementdelay="0.1"
                          data-endspeed="1000"
                          style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><img src="images/dummy.png" alt="" data-lazyload="upload/slider_hr10.png">
                      </div>
                      <div class="tp-caption slider_layer_02 text-center lft tp-resizeme"
                          data-x="center"
                          data-y="480" 
                          data-speed="1000"
                          data-start="800"
                          data-easing="Power3.easeInOut"
                          data-splitin="none"
                          data-splitout="none"
                          data-elementdelay="0.1"
                          data-endelementdelay="0.1"
                          data-endspeed="1000"
                          style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">ALL YOUR ENGINEERING PLASTIC SOLUTIONS
                      </div>
                  </li>
			</ul>
		</div>
	</div>
</section>
<section class="section grey box-shadow nopadbot">	
	<div class="container">
		<div class="section-title text-center">
			<h4>最新消息</h4>
			<hr>
			<!-- <p>Latest Awesome & Creative Works</p> -->
		</div><!-- end title -->
	</div><!-- end container -->

	<div class="row">
		<% @posts.each do |f| %>
			<div class="col-md-15 col-sm-6 col-xs-12 nopadding">
				<div class="portfolio-style-1 entry wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
					<%= image_tag f.image_url(:home_p).to_s %>
					<div class="magnifier">
						<div class="visible-title">
							<h4><%= f.title %></h4>
						</div><!-- end visible-title -->

						<div class="visible-title1 clearfix">
							<span class="pull-left">
								<%= link_to post_path(f) do %>
									<i class="fa fa-link"></i>
								<% end %>
							</span>
						</div><!-- end visible-title -->
					</div><!-- end magnifier -->
				</div><!-- end portfolio -->
			</div>
		<% end %>
	</div><!-- end row -->
</section><!-- end section -->

<section class="section white">
	<div class="container">
		<div class="section-title text-center">
			<h4>服務項目</h4>
			<hr>
			<!-- <p>Awesome & Great Services Done With Love</p> -->
		</div><!-- end title -->
		<div class="row text-center">
			<% @srvs.each do |service| %>
				<div class="col-md-3 col-sm-6">
					<div class="service-style-1 nobg wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<div class="icon-container border-radius">
							<i class="fa fa-star"></i>
						</div>
						<p><strong><%= service.title %></strong></p>
						<p><%= service.desc %></p>
					</div><!-- end service -->
				</div><!-- end col -->
			<% end %>
		</div><!-- end row -->
</section><!-- end section -->

<script>
	jQuery(document).ready(function() {
		jQuery('.tp-banner').show().revolution(
			{
			dottedOverlay:"none",
			delay:16000,
			startwidth:1170,
			startheight:850,
			hideThumbs:200,     
			thumbWidth:100,
			thumbHeight:50,
			thumbAmount:5,  
			navigationType:"none",
			navigationArrows:"solo",
			navigationStyle:"preview4",  
			touchenabled:"on",
			onHoverStop:"on",
			swipe_velocity: 0.7,
			swipe_min_touches: 1,
			swipe_max_touches: 1,
			drag_block_vertical: false,          
			parallax:"mouse",
			parallaxBgFreeze:"on",
			parallaxLevels:[10,7,4,3,2,5,4,3,2,1],
			parallaxDisableOnMobile:"off",           
			keyboardNavigation:"off",   
			navigationHAlign:"center",
			navigationVAlign:"bottom",
			navigationHOffset:0,
			navigationVOffset:20,
			soloArrowLeftHalign:"left",
			soloArrowLeftValign:"center",
			soloArrowLeftHOffset:20,
			soloArrowLeftVOffset:0,
			soloArrowRightHalign:"right",
			soloArrowRightValign:"center",
			soloArrowRightHOffset:20,
			soloArrowRightVOffset:0,  
			shadow:0,
			fullWidth:"on",
			fullScreen:"off",
			spinner:"spinner4",  
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",  
			autoHeight:"off",           
			forceFullWidth:"off",                         
			hideThumbsOnMobile:"off",
			hideNavDelayOnMobile:1500,            
			hideBulletsOnMobile:"off",
			hideArrowsOnMobile:"off",
			hideThumbsUnderResolution:0,
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			startWithSlide:0
			
			}); 
		});
	</script>