<%= render 'admin/common/header' %>
<section>
  <%= render 'admin/common/leftpanel' %>
  <div class="mainpanel">
    <div class="contentpanel">
      <ol class="breadcrumb breadcrumb-quirk">
        <li><i class="fa fa-home mr5"></i> Home</li>
        <li>文章列表</li>
      </ol>
      <div class="panel">            
        <div class="panel-body">
          <%= link_to '新增文章', new_admin_post_path %>
        </div>
      </div>  
      <!-- content goes here... -->
      <div class="panel">            
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover nomargin">
              <thead>
                <tr>
                  <th style="width:10%;">語系</th>
                  <th>文章標題</th>
                  <th class="text-right">最後更新日期</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @posts.each do |f| %>
                <tr>
                  <td><%= f.lang %></td>
                  <td><%= f.title %></td>
                  <td class="text-right"><%= f.updated_at %></td>
                  <td>
                    <ul class="table-options">
                      <li>
                      <%= link_to edit_admin_post_path(f.id) do %><i class="fa fa-pencil"></i><% end %>
                      </li>
                      <li>
                      <%= link_to admin_post_path(f.id), method: :'DELETE' do %><i class="fa fa-trash"></i><% end %>
                      </li>
                    </ul>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div>      
      <!-- content goes here... -->
    </div><!-- contentpanel -->
  </div><!-- mainpanel -->
</section>