<%= bootstrap_form_for [:admin, @product] do |e| %>
	<div class="panel-body col-md-6">
	  <div class="form-group">
			<%= e.text_field :pname, label: '產品名稱' %>
		</div>
		<div class="form-group">
			<%= e.text_area :feature, label: '產品特性' %>
		</div>
		<div class="form-group">
			<%= e.text_area :desc, label: '產品敘述' %>
		</div>
		<div class="form-group">
			<%= e.text_area :detail, label: '產品用途' %>
		</div>
		<%= e.file_field :imagea, label: '產品輪播圖' %>
		<%= e.file_field :imageb, label: '產品輪播圖' %>
		<%= e.file_field :imagec, label: '產品輪播圖' %>
		<%= e.file_field :imaged, label: '產品輪播圖' %>

	</div>
	<div class="panel-body col-md-6">
	  <div class="form-group">
			<%= e.text_field :pname_en, label: '產品名稱(英)' %>
		</div>
		<div class="form-group">
			<%= e.text_area :feature_en, label: '產品特性(英)' %>
		</div>
		<div class="form-group">
			<%= e.text_area :desc_en, label: '產品敘述(英)' %>
		</div>
		<div class="form-group">
			<%= e.text_area :detail_en, label: '產品用途(英)' %>
		</div>
		<%= e.fields_for :finalimgs do |f| %>
		    <%= f.file_field :imga, label: '最終完成品1' %>
		    <%= f.file_field :imgb, label: '最終完成品2' %>
		    <%= f.file_field :imgc, label: '最終完成品3' %>
		    <%= f.file_field :imgd, label: '最終完成品4' %>
		<% end %>
	</div>
	<%= e.submit '送出' %>
<% end %>