<%= render 'admin/common/header' %>
<section>
  <%= render 'admin/common/pdtpanel' %>

  <div class="mainpanel">
    <div class="contentpanel">

      <ol class="breadcrumb breadcrumb-quirk">
        <li><i class="fa fa-home mr5"></i> Home</li>
        <li>商品管理</li>
        <li><%= link_to '新增產品', new_admin_product_path %></li>
      </ol>
        
      <!-- content goes here... -->
      <div class="panel">            
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover nomargin">
              <thead>
                <tr>
                  <th style="width:10%;">上架狀態</th>
                  <th>Name</th>
                  <th style="width:10%;">語系</th>
                  <th class="text-right">date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |f| %>
                <tr>
                  <td><%= f.status %></td>
                  <td><%= f.pname %></td>
                  <td><%= f.lang %></td>
                  <td class="text-right"><%= f.updated_at %></td>
                  <td>
                    <ul class="table-options">
                      <li>
                      <%= link_to edit_admin_product_path(f.id) do %><i class="fa fa-pencil"></i><% end %>
                      </li>
                      <li>
                      <%= link_to admin_product_path(f.id), method: :'DELETE' do %><i class="fa fa-trash"></i><% end %>
                      </li>
                    </ul>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div>
      </div>
    </div><!-- contentpanel -->
  </div><!-- mainpanel -->
</section>