<%= render 'admin/common/header' %>
<section>
  <%= render 'admin/common/leftpanel' %>
  <div class="mainpanel">
    <div class="contentpanel">
      <div class="panel">
        <div class="panel-body">
          <%= bootstrap_form_for [:admin, @aimg] do |e| %>
						<div class="form-group">
							 <%= e.file_field :image %>
						</div>
						<%= e.submit '送出' %>
					<% end %>
          <!-- content goes here... -->
        </div><!-- contentpanel -->
      </div>
    </div>
  </div><!-- mainpanel -->
</section>