<!DOCTYPE html>
<html>
<head>
  <title>GrowthTw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<!--     <div id="loader">
        <div class="loader-container">
			<div class="sexyload">Loading...</div>
        </div>
    </div> -->
    <div class="topbar clearfix">
			<div class="container">
				<div class="row-fluid mb-5">
					<div class="col-md-12">
						<div class="pull-left">
							<div class="contactwrap text-left">
								<ul class="list-inline">
									<li><i class="fa fa-phone"></i> Call Us : 002 0106 5370701</li>
									<li><i class="fa fa-envelope"></i> Email Us : 002 0106 5370701</li>
								</ul>
							</div><!-- end contactwrap -->
						</div><!-- end col -->

						<div class="pull-right">
							<ul class="social">
								<li class="facebook" ><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="traditional chinese"><a href="#">中文</a></li>
								<li class="English"><a href="#">EN</a></li>
							</ul>
						</div><!-- end col -->
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
	</div><!-- end topbar -->

	<header id="headeraffix" class="header" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
				<div class="container">
					<div class="row mb-5">
						<div class="col-md-12">
							<nav class="yamm navbar navbar-default" role="navigation">
								<div class="container-fluid">
									<div class="navbar-table">
										<div class="navbar-cell tight">
											<div class="navbar-header">
												<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Ova"></a>
												<div>
													<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
														<span class="sr-only">Toggle navigation</span>
														<span class="fa fa-bars"></span>
													</button>
												</div>
											</div><!-- end navbar-header -->
										</div><!-- end navbar-cell -->

										<div class="navbar-cell stretch">
											<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
												<div class="navbar-cell">
													<ul class="nav navbar-nav navbar-right">
														<li class="dropdown yamm-fw">
															<%=link_to '首頁', index_path %>
														</li>											
														<li class="dropdown yamm-fw">
															<%=link_to '關於我們', about_path %>
														<ul class="dropdown-menu">
															<li>
																<div class="yamm-content">
																	<div class="row">
																		<div class="col-md-3 col-xs-12 nopadding">
																			<div class="box">
																				<ul>
																					<li><%=link_to '公司簡介', about_path %></li>
																					<li><%=link_to '公司沿革', history_path %></li>
																				</ul>
																			</div><!-- end box -->
																		</div><!-- end col -->
																	</div>
																</div>
															</li>
														</ul>
														<li class="dropdown yamm-fw">
															<%=link_to '產品介紹', products_path %>
														</li>
														<li class="dropdown yamm-fw">
															<%=link_to '最新消息', posts_path %>
														</li>		

														<li class="dropdown yamm-fw">					
															<%=link_to '聯絡我們', contact_path %>
														</li>												
													</ul>
												</div><!-- end navbar-cell -->
											</div><!-- /.navbar-collapse -->        
										</div><!-- end navbar cell -->
									</div><!-- end navbar-table -->
								</div><!-- end container fluid -->
							</nav><!-- end navbar -->
						</div><!-- end col -->
					</div><!-- end row -->
				</div><!-- end container -->
	</header>
	<div id="wrapper">
		<%= yield %>
		<section class="copyrights">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>All Rights Reserved © Ova Template | Template By <a href="#">TemplateVisual</a></p>
					</div>
					<div class="col-md-6 text-right">
						<p>Terms of Use - Privacy Policy - Money Back Guarantee</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end copyrights -->

	    <div class="backtotop">Scroll to Top</div>

	</div><!-- end wrapper -->
 		

</body>
</html>
